# dependencias y build
node_modules/
.next/
out/
dist/
build/
.vercel/
.turbo/
amplify/.config/local-*

# SO / editores
.DS_Store
Thumbs.db
*.log

# env
.env
.env.*
!.env.example

tsconfig.tsbuildinfo
.vscode/


# AWS Lambda build artifacts
ecommerce-api/lambda-package/
ecommerce-api/*.zip

# Checkout Lambda build artifacts
checkout-api/lambda-package/
checkout-api/*.zip
# AWS Lambda build artifacts
shipping-api/*.zip
